.taf{
	
	margin:auto;
	margin-top:20px;
	font-size:20px;
	border:3px solid orange;
}

.tb{
	font-size:20px;
	weight:300px;
}

.bt{
	font-size:19px;
	padding:3px 12px;
}

.dv{
	
	text-align:center;
	margin-top:50px;
	color:orange;
} /* end save record style */

/* start show-all-record*/
.tar{
	
	margin:auto;
	margin-top:20px;
	font-size:22px;
	
	border:3px solid orange;
	background-color:white;
	border-width:2px;
	width:60%;
}
/*menu page style*/

a{text-decoration: none;
	font-size:30px;
	background-color:pink;
	
}
a:hover{
	color:red;
	
}

body{
background-color: color-mix(in srgb, pink 30%, orange 30%, yellow 20%, green 20%);
	
}




